* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}

.container-fluid {
    height: 100vh;
    padding: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.text {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    text-shadow: 4px 3px 4px #151515;
}

.project {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 5px;
    background-color: white;
    color: #151515;
    /* display: flex; */
    /* flex-grow: 1; */
    border: 1px black solid;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.project-image {
    background-color: #171717;
    width: 100%;
    height: 100%;
}

.project-foreground {
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
    height: 100%;
}

.project-content {
    position: absolute;
}

.project-title {
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    top: 35%;
    text-shadow: 1px 1px 3px black;
}

.project-platform {
    color: hsl(0, 0%, 85%);
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    top: 50%;
}

.project-button {
    left: 40%; top: 85%;
    visibility: hidden;
}

.project-title, .project-foreground,.project-platform {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility  0.55s;
}

.project:hover .project-title {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.35s;
}

.project:hover .project-foreground {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.35s;
}

.project:hover .project-platform {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.35s;
}

.project:hover .project-button {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.35s;
}


#canvas {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -99;
}

#one {
    color: rgb(112, 112, 112);
    background: #000000a4;
    justify-content: center;
    align-items: center;
}

#two {
    color: beige;
    background: #171717;
    display: flexbox;
    align-items: center;
    flex-direction: column;
}

#three {
    color: beige;
    background: #151515;
}

#four {
    color: beige;
    background: #B4A5A5;
}


